
<div class="target">
  <div class="secand_show">
    <h2>クリアーおめでとうございます。</h2>
    <div class="show_aitem">
    <%= link_to "目標を変更する", new_target_path, class: "create_button" %>
    </div>
  </div>
</div>
