<div class="target">
    <h2>目標一覧</h2>
    <% @targets.each do |t| %>
    <table>
    <tr>
        <td><p><%= t.body %></p></td>
        <% if t.clear %>
        <td><p>達成済みです</p></td>
        <% else %>
        <td><p>未達成です</p></td>
        <% end %>
    </tr>
    </table>
    <% end %>
</div>