$color_code_blue:#0084ff;
.clear{
  width: 90%;
  padding: 15px 25px;
  margin: 10px auto;
  font-family: ‘Open Sans’, sans-serif;
  background-color: rgb(255, 255, 255);
  h2{   
    font-size: 30px;
    color: #0084ff;
    margin-bottom: 20px;
    text-align: center;
  }
}