$color_code_blue:#0084ff;
.show{
  width: 90%;
  padding: 15px 25px;
  margin: 10px auto;
  font-family: ‘Open Sans’, sans-serif;
  .second_show{
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    width: 95%;
    padding: 10px 10px;
  }
  h2{   
    font-size: 35px;
    color: #0084ff;
    margin-bottom: 0;
    text-align: center;
  }
  .create_button{
    display: inline-block;
    padding: 20px 30px;
    border-radius: 50px;
    background-color: white;
    color:$color_code_blue;
    margin: 60px;
    box-shadow: 10px 10px 15px -10px;
        &:hover{
      color: #D1D1D1;
      box-shadow: 10px 10px 15px -5px;
    }
  } 
  .show_aitem{
    text-align: center;
    font-size: 25px;
   }
   .target_context{
     font-size: 45px;
     margin-top: 60px;
     margin-bottom: 30px;
     text-align: center;
   }
   .target_url{
     text-align: center;
      a {
        display: inline-block ;
        background-color: white;
        color:  #808080;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 10px 10px 15px -10px;
        &:hover{
          color: #D1D1D1;
          box-shadow: 10px 10px 15px -5px;
        }
      }
    }
    .progress_st {
      display: block;
      -webkit-appearance: none;
      -moz-appearance: none;
      margin: 0 auto;
      width: 80%;
      height: 40px;
      
    }
    
    ::-webkit-progress-bar {
      background-color: rgb(182, 179, 179);
      border-radius: 50px;
    }
    ::-webkit-progress-value {
      background-color: #FF7E7E;
      border-radius: 50px;
    }
  .day{
    display: flex;
    width: 100%;
    height: 50px;
    .first_day{
      margin-right: auto;
      margin-left: 10%;
    }
    .last_day{
      margin-left: auto;
      margin-right: 10%;
    }
  }
  .day_count{
    font-size: 60px;
    margin: 0;
    margin-top: 60px;
    text-align: center;
  }
  .registration_button{
    display: block;
    background-color: white;
    margin: 30px auto;
    text-align: center;
    width: 200px;
    padding: 30px 0;
    border-radius: 10px;
    color: $color_code_blue;
    font-size: 25px;
  }
  p{
    text-align: center;
    font-size: 20px;
  }
  .registration_group{
    margin-top: 50px;
  }
}
