.account{
  width: 90%;
  padding: 15px 25px;
  margin: 10px auto;
  background-color: white;
  h2{
    margin-top: 20px;
  }
  .account_form{
    width: 360px;
    margin: 0 auto;
  }
  #error_explanation{
    display: inline;
    text-align: center;
    width: 500px;
    h2{
      font-size: 20px;
      color: red;
    }
  }
}