<div class="point">
  <div class="rank">
  <h2>ランキング</h2>
    <div class="rank_user">
      <table width="300">
      <%cnt=0%>
        <% @points.each do |point| %>
          <% cnt += 1 %>
          <tr>
          <td><p><%= cnt %>位</p></td>
          <% if(point[2].file.nil?) %>
            <td><img src="/assets/icon.png" width="30px" height="30px"></td>
          <% else %>
            <td><img src=<%=point[2]%> width="30px" height="30px"></td>
          <% end %>
          <td><p><%= point[0]%></p></td>
          <td><p><%= point[1]%>ポイント</p></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>